body {
  background-color: rgba(0, 0, 0, 0.99);
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

button {
  cursor: pointer;
}

.nav-bar {
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vw;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.496);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  gap: 5vw;
}

.nav-button {
  color: rgba(255, 255, 255, 0.66);
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.2vw;
  height: 100%;
  width: auto;
}

.nav-button:hover {
  color: white;
}

.logo {
  width: 30px;
  height: auto;
}

.search-input {
  position: fixed;
  top: 6vw;
  bottom: 6vw;
  left: 25%;
  z-index: 2;
  color: white;
  background-color: rgb(0, 0, 0);
  width: 50%;
  height: 80%;
  overflow-y: auto;
  border-radius: 20px;
}

.search-input::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.search-input input {
  width: 50%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  text-align: center;
  margin: 0 25%;
}

.search-results {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.search-results::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.search-results ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-results li {
  display: flex;
  margin: 0px auto;
  margin-bottom: 50px;
  font-size: 1vw;
  width: 80%;
  gap: 10px;
}

.search-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-poster {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.banner-div {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.banner {
  max-height: 100vh;
  width: 100%;
  display: block;
  filter: brightness(0.5);
  object-fit: cover;
}

.info-div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2% 5%;
  color: white;
  width: auto;
}

.info-div h1 {
  font-size: 4vw;
  margin: 15px 0;
  white-space: pre-wrap;
  width: 700px;
}

.info-div p {
  margin-top: 0px;
  width: 600px;
  font-size: 1.3vw;
}

.button-div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: transparent;
  font-weight: bold;
  font-size: 1vw;
  width: 15vw;
}

.banner-container {
  position: relative;
  overflow: hidden;
}

.banner-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.97));
}

.dots-div {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dots-div button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.dots-div button:focus {
  outline: none;
}

.dots-div button.active {
  background-color: white;
}

.list {
  margin: 0 5%;
  position: relative;
}

.list-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.list-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.763);
  color: rgba(0, 0, 0, 0.763);
  border: none;
  border-radius: 50px;
  font-size: 20px;
  z-index: 1;
  position: absolute;
  top: 50%;
}

.left {
  left: -30px;
}

.right {
  right: -30px;
}

.scroll.hidden {
  display: none;
}

.movie-card {
  display: inline-block;
  position: relative;
  height: auto;
  width: 400px;
  margin-right: 60px;
}

.poster img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: white;
  box-shadow: inset 0px -110px 50px rgba(0, 0, 0, 0.725);
}

.mobile {
  display: none;
}

.mobile-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.496);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 1vw;
}

.movie-card-square {
  display: inline-block;
  height: auto;
  width: 500px;
  margin-right: 90px;
  color: white;
  position: relative;
}

.poster-square {
  display: flex;
}

.star {
  width: 35%;
  height: auto;
  border-radius: 15px;
}

.card-info-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  color: white;
  margin-left: 10px;
}

.card-info-square h3 {
  font-size: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  white-space: pre-wrap;
}

.card-info-square h4 {
  color: rgba(255, 255, 255, 0.644);
  font-size: 17px;
  margin: 0;
}

.card-info-square p {
  font-size: 15px;
  white-space: pre-wrap;
}

.square-movie-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: transparent;
  font-weight: bold;
  font-size: 15px;
  width: 70%;
}

.content-card {
  display: inline-block;
  height: auto;
  width: 500px;
  margin-right: 60px;
  color: white;
}

.poster-content {
  display: flex;
  flex-direction: column;
}

.content-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.card-info-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: auto;
  color: white;
  margin-left: 10px;
}

.card-info-content h3 {
  margin: 10px 0;
  font-size: 20px;
  height: 100%;
  width: 100%;
  text-align: start;
  white-space: pre-wrap;
}

.card-info-content p {
  font-size: 15px;
  white-space: pre-wrap;
}

.actor-container {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.actor-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Actor-card {
  display: inline-block;
  height: auto;
  width: 400px;
  margin-right: 30px;
}

.actor-img {
  width: 80px;
  height: auto;
  margin-right: 30px;
  border-radius: 10px;
}

.actor-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.actor-info h3 {
  margin: 0;
}

.empty-gif {
  width: auto;
  height: 300px;
  margin-right: 60px;
}

.search-gif {
  width: 80%;
  height: auto;
}

.banner-release {
  max-height: 65vh;
  width: 100%;
  display: block;
  filter: brightness(0.3);
  object-fit: cover;
}

.release-list {
  margin: 0 5%;
}

.releases-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.release-div {
  height: 100px;
  min-width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 50px;
  gap: 20px;
}

.date {
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.release-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.release-info h2 {
  margin: 0;
}

.release-poster {
  width: 200px;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

.watch-list-desktop {
  margin: 0 25%;
  display: flex;
}

.watch-list-mobile {
  display: none;
}

.list-movies {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  border-right: 2px solid rgba(255, 255, 255, 0.518);
}

.delete-button {
  position: absolute;
  right: 5%;
  top: 0;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1vw;
}

.movie-card-watchlist {
  display: inline-block;
  height: auto;
  width: 500px;
  margin-right: 90px;
  color: white;
  position: relative;
}

.watchlist-poster {
  width: 30%;
  height: auto;
  border-radius: 15px;
}

.watchList-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  height: auto;
  color: white;
  margin-left: 50px;
}

.watchList-info h3 {
  font-size: 20px;
  width: 100%;
  text-align: start;
  text-wrap: wrap;
}

.watchList-info h4 {
  color: rgba(255, 255, 255, 0.644);
  font-size: 17px;
  margin: 0;
}

.watchList-info p {
  font-size: 15px;
  text-wrap: wrap;
}

.addition {
  width: 30%;
  margin-left: 20px;
}

.footer {
  position: relative;
  text-wrap: wrap;
  border-top: 2px solid rgba(255, 255, 255, 0.518);
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding-bottom: 50px;
  margin-top: 50px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(https://i.redd.it/4fxxbm4opjd31.jpg);
  background-size: cover;
  filter: brightness(0.2);
  z-index: -1;
}

.footer-info h1 {
  width: 50%;
}
.footer-info p {
  color: rgba(255, 255, 255, 0.518);
}

.footer-info a {
  color: rgba(255, 255, 255, 0.566);
}

.footer-gif {
  height: 100%;
  width: auto;
}

@media (max-width: 1500px) {
  .watch-list-desktop {
    margin: 0 20%;
  }
}

@media (max-width: 1300px) {
  .watch-list-desktop {
    margin: 0 15%;
  }
}

@media (max-width: 1100px) {
  .watch-list-desktop {
    margin: 0 10%;
  }
}

@media (max-width: 1000px) {
  .watch-list-desktop {
    margin: 0 5%;
  }

  .delete-button {
    font-size: 1.5vw;
  }

  .list-movies {
    width: 80%;
  }
  .addition {
    width: 20%;
  }

  .nav-bar {
    height: 8vw;
  }
  .nav-button {
    font-size: 1.5vw;
  }
  .button-div {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .info-button {
    font-size: 1.5vw;
    width: 50%;
    padding: 5px 10%;
  }

  .info-div h1 {
    width: 100%;
  }

  .info-div p {
    margin-top: 0px;
    width: 100%;
    font-size: 1.3vw;
  }

  .search-input {
    top: 8vw;
    bottom: 8vw;
    left: 20%;
    color: white;
    width: 60%;
    height: 80%;
  }

  .search-poster {
    width: 100px;
  }

  .footer {
    flex-direction: column;
  }

  .footer-info {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  .footer-info h1 {
    text-align: center;
  }
}

@media (max-width: 807px) {
  .release-div {
    width: 100%;
    justify-content: center;
  }
  .release-poster {
    width: 30vw;
  }
}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .logo {
    width: 5vw;
    height: auto;
  }

  .nav-button {
    font-size: 3vw;
    margin: 10px 0;
  }

  .nav-bar {
    justify-content: space-between;
  }

  .info-div h1 {
    font-size: 6vw;
    margin: 15px 0;
  }

  .info-div p {
    font-size: 2.4vw;
  }

  .info-button {
    padding: 5px 10px;
    font-size: 3vw;
  }

  .dots-div {
    top: 40%;
    right: 5px;
  }

  .dots-div button {
    width: 15px;
    height: 15px;
  }

  .movie-card {
    width: 300px;
    margin-right: 60px;
  }

  .search-poster {
    width: 80px;
  }

  .search-results li {
    font-size: 1.4vw;
    width: 80%;
  }

  .search-results li {
    width: 95%;
  }

  .release-poster {
    width: 40vw;
  }

  .watchlist-align {
    margin: 0 auto;
  }

  .watch-list-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .watch-list-desktop {
    display: none;
  }

  .list-movies {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    border-right: 0px;
  }

  .addition {
    width: 100%;
    text-align: center;
  }

  .delete-button {
    font-size: 2vw;
  }
}

@media (max-width: 550px) {
  .movie-card-square,
  .Actor-card {
    width: 200px;
  }

  .poster-square {
    flex-direction: column;
  }

  .star {
    width: 90%;
    height: auto;
    border-radius: 15px;
  }

  .actor-img {
    align-self: center;
    margin-bottom: 20px;
  }

  .card-info-square,
  .actor-info {
    align-items: center;
    width: 90%;
    margin-left: 0px;
  }

  .movie-card-watchlist {
    flex-direction: column;
    width: 100%;
  }
  .watchList-info {
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
  }
  .watchlist-poster {
    width: 50%;
    align-self: center;
  }
  .watchList-info h3 {
    text-align: center;
  }

  .delete-button {
    font-size: 5vw;
  }
}

@media (max-width: 600px) {
  .content-card {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .movie-card {
    width: 100%;
  }
}
